body {
  background-color: #000000;
  color: white;
  font-family: 'Open Sans', sans-serif;
}
#header {
  color: #000000;
}
#main {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
#main div {
  padding: 15px;
  width: 300px;
  margin: 5px;
}
.inline-block-center {
  text-align: center;
}
.inline-block-center div {
  display: inline-block;
  text-align: left;
}
table {
  width: 250px;
}
