body {
  background-color: #000000;
  color: white;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
}
#header {
  color: #000000;
}
#main {
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}
table {
  width: 300px;
}
#wcPicture {
  display: block;
    margin: auto;
}
h3 {
  margin-top: 18px;
  margin-bottom: 0px;
}
.inline-block-center {
  text-align: center;
}
.inline-block-center div {
  display: inline-block;
  text-align: left;
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  table {
    width: 70vw;
    font-size: 2vmax;
  }
  h3 {
    font-size: 2vmax;
  }
  h1 {
    font-size: 5.9vw;
  }
  img.resize{
     max-width: 70%;
  }
  #main div {
    padding: 0px;
    /*width: 300px;*/
    margin: 0px;
  }
}
@media only screen and (min-width: 500px), only screen and (min-device-width: 500px) {
  .float {
    float: left;
  }
  /*#pastTweets {
    margin-top: 85px;
  }*/
  img {
    position: relative;
    /*top: -20px;*/
  }
}
