body {
  background-color: #000000;
  color: white;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
}
#header {
  color: #000000;
}
#main {
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}
#main div {
  padding: 0px;
  /*width: 300px;*/
  margin: 0px;
}
.inline-block-center {
  text-align: center;
}
.inline-block-center div {
  display: inline-block;
  text-align: left;
}
table {
  width: 300px;
}
#wcPicture {
  display: block;
    margin: auto;
}
h3 {
  margin-top: 18px;
  margin-bottom: 0px;
}
img.resize{
   max-width:50%;
}
