<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Did he tweet?</title>
    <link rel="icon" type="image/png" href="src/djt.png" />
    <link rel='stylesheet' type='text/css' href='styles.css'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- <div id="header">
      <p>I am <i>Heather</i>, small evergreen shrub</p>
    </div> -->
    <script type="text/x-template" id="modal-template">
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-header">
            <slot name="header">

            </slot>
          </div>

          <div class="modal-body">
            <slot name="body">

            </slot>
          </div>

          <div class="modal-footer">
            <slot name="footer">

              <button class="modal-default-button" @click="$emit('close')">
                OK
              </button>
            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</script>


    <div id="main" class="inline-block-center">
      <div id="pastTweets" class="float">
        <h1>Did he tweet?</h1>
        <table>
          <tr>
            <td>Last 5 minutes</td>
            <td v-if="five">Yes</td>
            <td v-else="five">No</td>
          </tr>
          <tr>
            <td>Last 10 minutes</td>
            <td v-if="ten">Yes</td>
            <td v-else="ten">No</td>
          </tr>
          <tr>
            <td>Last hour</td>
            <td v-if="hour">Yes</td>
            <td v-else="hour">No</td>
          </tr>
          <tr>
            <td>Today</td>
            <td v-if="today">Yes</td>
            <td v-else="today">No</td>
          </tr>
        </table>
        <h3>That is {{ totalTweetsAnim }} number of tweets in total!<br>
          That is {{ daysAvg }} / day
          <i title="account created at 6:46 AM 18 Mar 2009">on average</i>
        </h3>
        <!-- <table>
          <tr>
            <td>Tweets today:</td>
            <td>{{ todayT }}</td>
          </tr>
          <tr>
            <td>Tweets this week:</td>
            <td>{{ weekT }}</td>
          </tr>
        </table> -->
      </div>
      <div class="float">
        <div id="app">
          <p id="show-modal" @click="showModal = true">What is all this..?..</p>
          <!-- use the modal component, pass in the prop -->
          <modal v-if="showModal" @close="showModal = false">
            <!--
              you can use custom content here to overwrite
              default content
            -->
            <h2 slot="header">You can check when @realDonaldTrump Tweeted<br>
            and you get a nice word cloud from the last tweets!</h2>
          </modal>
        </div>
        <!-- <img id="wcPicture"src="src/twc.png" /> -->
        <img id="wcPicture"src="http://vtisza.pythonanywhere.com/trump_wc" />
      </div>
    </div>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
    <script src="https://unpkg.com/tween.js@16.3.4"></script>
    <script type="text/javascript" src="src/app.js"></script>
  </body>
</html>
